AWS_ACCESS_KEY_ID="AKIA12314124234GZZXA2"
AWS_SECRET_ACCESS_KEY="the-code-above-isnt-my-actual-access-key-lol"
AWS_REGION="[REGION]"
S3_BUCKET_NAME="[BUCKET_NAME]"
SQS_QUEUE_URL_A="https://sqs.[REGION].amazonaws.com/12314414/queue"
SQS_QUEUE_URL_B="https://sqs.[REGION].amazonaws.com/12314414/queue2"